=simple_form_for(resource) do |f|
  =f.input :name
  =f.input :current
  =f.input :description
  .btn-toolbar
    .btn-group
      =f.submit class: "btn btn-primary"
    .btn-group
      = link_to "Back", product_base_index_path, class: "btn btn-default"
